<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.bus.dao.BusDao">

	<insert id="insert">
		insert into tbl_bus_user(bu_id, bu_password, bu_name, bu_tel)
		values(#{bu_id}, #{bu_password}, #{bu_name}, #{bu_tel});
	</insert>

	
</mapper> 